.progressIndicator:before {
  /* create a round element */
  content: "";
  display: block;
  aspect-ratio: 1;
  border-radius: 50%;
  /* customize look */
  height: 1.2em;
  border: 4px solid lightgray;
  border-top-color: darkslategray;
  /* animate it */
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
